img {
height: 200px ;
width: 200px;
}

body{
text-align: center;
background-color: cadetblue;
}

h4{
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 20px;
}

b {
font-size: 20px ;
font-family: Georgia, Times, 'Times New Roman', serif;
}

h5 {
font-size: 20px;
font-family:Georgia, 'Times New Roman', Times, serif ;
}